@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #6dcff6;
  font-family: "Press Start 2P", cursive;
}

input {
  width: 200px;
  border: none;
  border-bottom: black 5px solid;
  height: 70px;
  font-size: 25px;
  margin: 20px;
  padding-left: 10px;
}

input:active {
  border: none;
}

button {
  height: 70px;
  margin: 20px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  border: 5px solid;
  background-color: #eabdd2;
  text-transform: uppercase;
}

button:hover {
  background-color: #d76aa1;
}

button:disabled {
  pointer-events: none;
  color: #686868;
  border-color: #686868;
  background-color: #f7e6ee;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.App-title {
  margin-top: 20px;
  font-family: "Press Start 2P", cursive;
  color: #fce92a;
  text-shadow: 3px 5px #ff0000;
}

.App-mode-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App-mode-buttons button {
  width: 250px;
}

a.Link-buttons {
  width: 230px;
  line-height: 20px;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
  color: black;
  border: 5px solid black;
  background-color: #eabdd2;
  text-transform: uppercase;
}

a.Link-buttons:hover {
  background-color: #d76aa1;
}

.App-header {
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

.Single-player-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Form-row {
  display: flex;
  flex-direction: row;
}

.Form-row input {
  width: 180px;
  margin-right: 10px;
  font-size: 22px;
}

.Form-row button {
  height: 75px;
}

.Error {
  color: #ff0000;
}

button.Play-game {
  width: 300px;
  font-size: 30px;
  color: #ff0000;
  background-color: #fce92a;
  text-transform: uppercase;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border-color: #ff0000;
  box-shadow: 0 0.2em #ff0000;
}

button:hover.Play-game {
  background-color: #fcb92a;
}

button:disabled.Play-game {
  width: 300px;
  color: #eabdd2;
  background-color: #fff7a4;
  text-transform: uppercase;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  border-color: #eabdd2;
  box-shadow: 0 0.2em #eabdd2;
}

.Break-row {
  flex-basis: 100%;
  height: 0;
}

.Cards-container {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
  margin: 0 auto;
  width: 360px;
  height: 360px;
  perspective: 100%;
  max-width: 720px;
  background-color: #ffffff;
}

.Score-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Victory-title {
  margin: 90px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
  .App {
    min-height: fit-content;
  }

  .App-header {
    min-height: auto;
  }

  .App-title {
    line-height: 45px;
    text-shadow: 2px 2px #ff0000;
  }

  .App-mode-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  a.Link-buttons {
    font-size: 10px;
  }

  .Cards-container {
    width: 320px;
  }
}
