.Waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}

.Waviy span {
  position: relative;
  display: inline-block;
  font-family: "Press Start 2P", cursive;
  color: #ff56a5;
  text-shadow: 3px 5px #ff0000;
  text-transform: uppercase;
  animation: Waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}

.Space-place {
  width: 28px;
}

@keyframes Waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 600px) {
  .Space-place {
    width: 45px;
  }
  .Waviy span {
    line-height: 90px;
  }
}
